/*stylesheet for index.aspx*/
#titleAreaBox, #s4-titlerow{
	 display: none !important;
     width:0px !important;
     background-color:fuchsia !important;
}
.container{
	margin-left:15px;
	margin-right:15px;
}
#s4-ribbonrow{display:none}
@media only screen and (max-device-width: 480px)  {
     #sideNavBox,#s4-titlerow, #titleAreaBox ,#DeltaFormDigest{
          display: none !important;
          width:0px !important;
          background-color:fuchsia !important;
     }
     #contentBox{
     	margin-left:20px;
	}
} 

/*stylesheet for staff.aspx*/
.thead-default{background-color:#fafafa;}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #d9edf7; /*rgb(51, 122, 183);
  color:#eeeeee;*/
}

.btn-sm-nopadding{
padding: 1px 3px;
}

/*stylesheet for AddNewTS.aspx*/
body{
	line-height:1;
}
.form-horizontal .form-group label.padding-fix
 { 
	padding-top:0px;
}
.form-horizontal .height-fix{
	height:34px;
}
#TSnumberLable,#TSstatusLable{
	font-size:1.1em;
}